// #footer {
//   background-color: #5271ff;
// }

.other--contacts {
  text-align: center;
  .col-md-4 {
    margin-bottom: 50px;
  }
  i {
    font-size: 40px;
    color: #5271ff;
  }
  p {
    // padding: 0px 20px;
  }
}

.services {
}
