//media queries
@media (max-width: 767px) {
  .algoBytes {
    font-size: 30px;
  }
  .fact-techs {
    p {
      bottom: 35px !important;
    }
  }
  .msgUs-btn {
    visibility: hidden;
  }
  nav {
    position: fixed;
    top: 80px;
    right: -100%;
    transition: all 0.5s;
    background-color: rgba(255, 255, 255, 0.2);

    backdrop-filter: blur(10px);
    z-index: 1;

    ul {
      display: block !important;
      padding: 0;
      width: 30svh;
      height: 100svh;
      text-align: center;
      li {
        line-height: 5rem;
        a {
          color: #5271ff !important;
          font-size: 20px !important;
          margin: 0 !important;
          text-align: center;
        }
      }
    }
  }

  .home-col-1 {
    text-align: center;
    padding-bottom: 0px !important;
    h1 {
      text-align: center !important;
    }
  }
  .fact-techs p {
    font-size: 12px;
    // bottom: 32px !important;
  }
  .home-section .col-img img {
    margin-top: 0px !important;
  }
  .toggle {
    position: fixed !important;
    display: flex !important;
  }
  #checkbox:checked + .toggle ~ header .myNav {
    right: 0% !important;
  }
}

@media (max-width: 400px) {
  header {
    display: none;
  }
  .home-col-1 {
    text-align: center;
    h1 {
      text-align: center !important;
    }
  }
  .col-img {
    img {
      margin-top: 30px !important;
    }
  }
  // .swiper-slide {
  //   padding: 10px;
  //   img {
  //     width: 70%;
  //     height: 100%;
  //     margin-bottom: 100px;
  //   }
  // }

  // .swiper-button-next {
  //   right: 20px;
  //   transform: rotate(90deg);
  // }

  // .swiper-button-prev {
  //   left: 20px;
  //   transform: rotate(90deg);
  // }
}

//breakpoints

@media (max-width: 1100px) {
  .fact-techs {
    height: auto;
    // padding-bottom: 100px;
  }
}
@media (max-width: 900px) {
  header {
    nav {
      ul {
        li {
          a {
            font-size: 8px;
          }
        }
      }
    }
  }

  .msgUs-btn {
    font-size: 8px;
    padding: 0px 25px 0px 25px;
  }
  .logo img {
    width: 70%;
  }
  .fact-techs {
    height: auto;
  }
}

@media (max-width: 880px) {
  .home-col-1 {
    p {
      font-weight: lighter;
    }
    h1 {
      font-size: 200%;
      text-align: start;
      font-weight: 600;
      line-height: 3rem;
    }
  }
}
