@font-face {
  font-family: poppins-regular;
  src: url("./fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: poppins-black;
  src: url("./fonts/Poppins-Black.ttf");
}
@font-face {
  font-family: poppins-thinI;
  src: url("./fonts/Poppins-ThinItalic.ttf");
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: poppins-regular;
}

.msgUs-btn {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  height: auto;
  background: none;
  border: 1.5px solid #5271ff;
  border: 1px solid #5271ff;
  border-radius: 35px;
  padding: 0px 25px 0px 25px;
  font-weight: bold;
  font-size: 10px;
  color: #5271ff;
}

//home section

.home-section {
  .col-img {
    text-align: center;

    img {
      position: relative;
      margin-top: 100px;
      width: 80%;
    }
  }
}
.home-col-1 {
  padding: 3rem;
  p {
    font-weight: lighter;
  }
  h1 {
    font-size: 200%;
    text-align: start;
    font-weight: 600;
    line-height: 4.5rem;
  }
}

.arrow img {
  animation-name: arrow-dissolve;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-duration: 2.5s;
}
.vector-check {
  text-align: right;
  img {
    width: 20%;
  }
}

@keyframes arrow-dissolve {
  from {
    opacity: 0.5;
    transform: translateY(-10px);
  }
}

//fact techs section
.fact-techs {
  height: 70svh;
  background-color: #ececec;
}

.algoBytes {
  position: relative;
  background-color: #ececec;
  font-family: poppins-black;

  text-align: Center;
  font-size: 50px;
  font-weight: bolder;
  color: #5271ff;
  opacity: 0.5;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 80%;
  background-color: #ececec;

  z-index: 0;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 90%;
    border-radius: 20px;
    box-shadow: 9px 9px 18px #676767, -9px -9px 18px #ffffff;
  }
}
.swiper-button-prev {
  position: absolute;
  right: 190px;
}

//about--us--section

#about {
  padding: 20px;
  height: auto;
  overflow: hidden;
  background-color: #5271ff;
  z-index: 1;
  background: url("") no-repeat center center/cover;

  .heading {
    display: inline-block;
    font-family: poppins-black;
    color: white;

    font-weight: bold;
    margin-bottom: 20px;
  }
  .lead {
    font-size: 20px;
    font-family: poppins-thinI;
    font-weight: 400;
    font-style: italic;
    color: rgb(247, 247, 247);
    font-weight: lighter;
    line-height: 3rem;
  }
}

//scroll to top

#scroll-to-top {
  display: none; /* Hide the button by default */
  position: fixed; /* Set the button to a fixed position */
  background: none;
  border: none;
  bottom: 50px; /* Set the position of the button from the bottom of the viewport */
  right: 30px; /* Set the position of the button from the right of the viewport */
  z-index: 999; /* Set a high z-index to ensure the button is always on top */
}

/* Set the scroll behavior to smooth */
html {
  scroll-behavior: smooth;
}

@import "./form.scss";
@import "./mediaQueries.scss";
@import "./navbar.scss";
@import "./node_modules/bootstrap/scss/bootstrap.scss";
